@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");

.greeting {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  margin-left: 5%;
}

.login-btn {
  padding: 0.9vh;
  background: #15f4ee;
  color: #fff;
  font-weight: bold;
  font-size: 1.5vh;
  border: none;
  border-radius: 5px;
}
